dist
node_modules
package-lock.json
src-tauri/gen
src-tauri/target
src-tauri/workers/*.mjs
src-tauri/workers/package.json
src-tauri/icons
src-tauri/addon/*.gd
fixtures/godot-project/addons

scripts/__fixtures__
