.gofer-breakpoint {
    background-color: var(--color-error);
    border-radius: var(--radius-full);
    margin-block: auto;
    margin-inline-start: var(--spacing-1);
    width: var(--spacing-2);
    height: var(--spacing-2);
}
